{% extends 'global/base.html' %}

{% block title %}Projeto{% endblock title %}

{% block content %}
<div class="container">
    <div class="my-3 back-project">
        <a href="{% url 'projects:project_detail' project.composite_pk %}"><i class="fa-regular fa-circle-left"></i> Voltar ao Projeto</a>
    </div>
    <div>
        <h4 class="mb-5 mt-4">Membros do Projeto</h4>
        <div class="row justify-content-center">
            <div class="col-1">
                <img class="post-img img-member" src="{{ project.owner.profile_picture.url }}" alt="Foto de perfil">
            </div>
            <div class="col-11 d-flex flex-column justify-content-center">
                <h5 class="m-0">
                    {{project.owner.first_name}} {{project.owner.last_name}}
                </h5>
                <p class="m-0">Dono</p>
            </div>
        </div>
        {% for member in members %}
        <hr>
        <div class="row justify-content-center">
            <div class="col-1">
                <img class="post-img img-member" src="{{ member.profile_picture.url }}" alt="Foto de perfil">
            </div>
            <div class="col-11 d-flex flex-column justify-content-center">
                <h5 class="m-0">
                    {{member.first_name}} {{member.last_name}}
                </h5>
                <p class="m-0">Membro</p>
            </div>
        </div>      
        {% endfor %}
    </div>

</div>

{% endblock content %}
