{% extends 'global/base.html' %}
{% load static %}
{% block title %}Projeto{% endblock title %}

{% block content %}
<div class="container">
        <div class="my-3">
            <a href="{{return_page}}" class="btn-back"><i class="fa-solid fa-chevron-left"></i> Voltar</a>
        </div>
        <div class="my-2">
            {% if not project_pk %}
            <h1 class="mt-5 mb-1 text-center">Projeto</h1>
            <h3 class="mb-2 text-center">Preencha com as informações do seu Projeto</h3>
            {% endif %}
            
            <div class="row">
                {% comment "" %}
                {% if project_pk %}
                    <div class="col-3">
                        <form></form>
                        <form method="post" action="{% url 'projects:save_categories' project_pk %}" enctype="multipart/form-data">
                            <label class="d-block form-label text-center">Categorias do Projeto</label>
                            <div class="category-box category-box-edit">
                                {% csrf_token %}
                                {{ form_categories }}
                            </div>
                            <div class="form-group-submit text-center my-4">
                                <button class="btn btn-primary" type="submit">Salvar Categorias</button>
                            </div>
                        </form>
                    </div>
                {% endif %}
                {% endcomment %}
                <div class="col">
                    {% if project_pk %}
                    <h5 class="mt-4">Informações Gerais</h5>
                    {% endif %}
                    <form></form>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                {% for field in form %}
                                    {% if field.label != 'Imagem de capa *' %}
                                        <div class="my-3">
                                            <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                            {{ field }}
                                            <div class="error-list">
                                                {{ field.errors }}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="col-md-6">
                                <div class="my-3">
                                    <label class="form-label" for="{{ form.cover_photo.id_for_label }}">{{ form.cover_photo.label }}</label>
                                    <div class="max-width-cover text-center">
                                        <div class="imageContainer">
                                            <img class="imgPhoto-cover" {% if project_pk %}src="{{ project_img.url }}"{% else %}src="{% static 'global/img/bg-default.jpg' %}"{% endif %} alt="Selecione uma imagem" id="imgPhoto">
                                        </div>
                                    </div>
                                    <input class="d-none" type="file" name="{{ form.cover_photo.name }}" id="{{ form.cover_photo.id_for_label }}" {% if project_pk %}value="{{ project_img.url }}"{% endif %}/>
                                    <div class="error-list">
                                        {{ form.cover_photo.errors }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group-submit mt-5 mb-5 text-end">
                            <button class="btn btn-primary" type="submit">{% if project_pk %}Salvar Informações{% else %}Próximo <i class="fa-solid fa-chevron-right"></i>{% endif %}</button>
                        </div>
                    </form>
                    
                    
                    {% if project_pk %}
                    <hr>
                    <h5 class="mt-3">Categorias do Projeto</h5>
                    <form></form>
                        <form method="post" action="{% url 'projects:save_categories' project_pk %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in form_categories %}
                                {{field}}
                            {% endfor %}
                            <div class="form-group-submit text-end my-4">
                                <button class="btn btn-primary" type="submit">Salvar Categorias</button>
                            </div>
                        </form>
                    <hr>
                    <h5 class="mt-3">Desativação e Exclusão</h5>
                    <div class="mt-4 mb-5">
                        <div class="d-flex justify-content-between align-items-center my-4">
                            <div>
                                <p class="my-0">Ativar/Desativar projeto </p>
                                <span class="form-text m-b-none">Ative para publicar seu projeto. Desative caso queira deixar o projeto inacessível.</span>
                            </div>
                            <input class="custom-switch" {% if project_active %}checked{% endif %} onchange="switchActive()" id="input-switch" type="checkbox" data-toggle="switchbutton" data-onlabel="Ativo" data-offlabel="Desativado" data-onstyle="primary" data-offstyle="danger">
                        </div>
                        <div class="d-flex justify-content-between align-items-center my-4">
                            <div>
                                <p class="my-0">Exclusão do projeto</p>
                                <span class="form-text m-b-none">Exclua definitivamente esse projeto e todas as informações presentes nele.</span>
                            </div>
                            <button data-bs-toggle="modal" data-bs-target="#confirmDeleteProjectModal" class="btn btn-danger">Excluir Projeto</button>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
</div>

<div class="modal fade" id="confirmDeleteProjectModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirme a Exclusão</h5>
            </div>
            <div class="modal-body">
                <p>Isso excluirá o projeto e todas as informações relacionadas a ele. Essa ação é irreversível.</p>
                <form action="{% url 'projects:project_delete' %}" method="post" >
                    {% csrf_token %}
                    <input type="hidden" name="project_composite_pk" value="{{project_pk}}">
                    <div class="form-group">
                        <label for="password">Para confirmar a exclusão digite sua senha:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="text-center my-3">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    function switchActive() {
        window.location.href = "{% url 'projects:deactivate' project_pk %}";
    }
</script>
{% endblock content %}
