{% extends 'global/base.html' %}

{% block title %}Projeto{% endblock title %}

{% block content %}
<div class="container">
    <div class="my-2">
        <h1 class="mt-5 mb-1 text-center">Projeto</h1>
        <h3 class="mb-5 text-center">Selecione as Categorias do seu Projeto</h3>
        <div class="mx-auto w-50">
            <form></form>
                <form method="post" action="{% url 'projects:save_categories' project_pk %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form_categories %}
                        {{field}}
                    {% endfor %}
                    <div class="form-group-submit text-end my-4">
                        <button class="btn btn-primary" type="submit"><i class="fa-solid fa-check"></i> Criar Projeto</button>
                    </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
