{% extends 'global/base.html' %}

{% block title %}Projeto{% endblock title %}

{% block content %}
<div class="container">
    {% if not project.status %}
    <div class="alert alert-danger" style="margin: 20px" role="alert">
        <p class="m-0"><b>Projeto Desativado</b></p>
        <p class="m-0">O projeto está inacessível e só você pode visualizá-lo. Ative o projeto na página de edição para deixá-lo visível novamente.</p>
    </div>
    {% endif %}
    <div class="row project-box justify-content-between align-items-center">
        <div class="col-5 text-center">
            <img class="profile-project-cover mb-2" src="{{ project.cover_photo.url }}" alt="Foto do Projeto">
            <h3>{{project.name}}</h3>
        </div>
        <div class="col-7 align-items-start align-self-stretch d-flex flex-column">
            <p class="project-detail-description my-2">{{project.description}}</p>
            <div class="align-self-end mt-auto d-flex">
                {% if project.owner == user or user in mods %}
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Membros
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'projects:project_solicitation' project.composite_pk %}">Solicitações</a></li>
                            <li><a href="{% url 'projects:members_list' project.composite_pk %}" class="dropdown-item">Todos Membros</a></li>
                        </ul>
                    </div>
                {% elif is_member %}
                    <a href="{% url 'projects:members_list' project.composite_pk %}" class="mx-2 btn btn-primary">Membros</a>
                {% endif %}
                {% if project.owner == user %}
                    <a class="btn btn-primary mx-2 " href="{% url 'projects:project_edit' project.composite_pk %}">Editar Projeto</a>
                {% elif is_member %}
                <form></form>
                <form id="formLeaveProject" class="mx-2" action="{% url 'projects:project_leave' %}" method='POST'>
                    {% csrf_token %}
                    <input type="hidden" name="project_composite_pk" value="{{project.composite_pk}}">
                    <button id="btnConfirmLeave" type="submit" class="btn btn-danger">Sair</button>
                <form>
                {% elif user in solicitation %}
                <form></form>
                <form class="mx-2" action="{% url 'projects:solicitation_remove' %}" method='POST'>
                    {% csrf_token %}
                    <input type="hidden" name="project_composite_pk" value="{{project.composite_pk}}">
                    <button type="submit" class="btn btn-danger">Remover Solicitação</button>
                <form>   
                {% else %}
                <form></form>
                <form class="mx-2" action="{% url 'projects:solicitation_add' %}" method='POST'>
                    {% csrf_token %}
                    <input type="hidden" name="project_composite_pk" value="{{project.composite_pk}}">
                    <button type="submit" class="btn btn-primary">Solicitar Entrada</button>
                <form>
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
    {% if is_member %}
    <div>
        <form></form>
        <form action="{% url 'projects:send_post' %}"  method="POST">
            {% csrf_token %}
            <input type="hidden" name="project_composite_pk" value="{{project.composite_pk}}">
            {% for field in post_form %}
                <div class="my-3 d-flex">
                    <div>
                        <img class="post-img" src="{{ user.profile_picture.url }}" alt="Foto de perfil">
                    </div>
                    {{field}}
                </div>
            {% endfor %}
            <div class="form-group-submit text-end my-4">
                <button class="btn btn-secondary rounded-btn" type="submit"><i class="fa-solid fa-paper-plane"></i></button>
            </div>
        </form>
    </div>
    <hr>
    {% endif %}
    <div>
        {% if is_member %}
        <h4>Postagens</h4>
        {% for post in posts %}
            <div class="my-5">
                <div class="d-flex">
                    <div class="pr-2 col-1">
                        {% if post.autor == user %}
                            <img class="post-img" src="{{ post.autor.profile_picture.url }}" alt="Foto de perfil">
                        {% else %}
                            <a href="{% url 'accounts:view_profile' post.autor.cpf %}"><img class="post-img" src="{{ post.autor.profile_picture.url }}" alt="Foto de perfil"></a>
                        {% endif %}
                    </div>
                    <div class=col-10>
                        {% if post.autor == user %}
                            <h5 class="m-0">{{post.autor.first_name}} {{post.autor.last_name}}</h5>
                        {% else %}
                            <a href="{% url 'accounts:view_profile' post.autor.cpf %}"><h5 class="m-0">{{post.autor.first_name}} {{post.autor.last_name}}</h5></a>
                        {% endif %}
                        <div>
                            {% if project.owner == post.autor %}
                                Dono
                            {% elif post.autor in mods %}
                                Moderador
                            {% else %}
                                Membro
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-1">
                        {% if project.owner == user or user in mods or user == post.autor%}
                            <div class="btn-group dropstart">
                                <div type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </div>
                                <ul class="dropdown-menu">
                                    <li>
                                        <form></form>
                                        <form id="{{post.composite_pk}}" class="mx-2" action="{% url 'projects:post_delete' %}" method='POST'>
                                            {% csrf_token %}
                                            <input type="hidden" name="post_composite_pk" value="{{post.composite_pk}}">
                                            <button type="submit" class="btn btn-link dropdown-item btn-confirm-delete"><i class="fa-solid fa-trash"></i> Excluir Postagem</button>
                                        <form>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="my-2">
                    <p>{{post.text}}</p>
                    <div class="post-created">
                        {{post.created}}
                    </div>
                </div>
                
                <div class="footer-post">
                    <i class="fa-regular fa-comment"></i> <a href="{% url 'projects:post_detail' post.composite_pk %}">Comentários</a>
                </div>
                <hr>
            </div>
            <div class="modal fade" id="confirmDeletePost{{post.composite_pk}}Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Tem certeza que deseja excluir a Postagem?</h5>
                    </div>
                    <div class="modal-body">
                      Ao excluir uma postagem todos comentários relacionados são excluídos. Essa ação não pode ser desfeita.
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                      <button type="button" class="btn btn-danger btn-confirm">Excluir</button>
                    </div>
                  </div>
                </div>
            </div>
            {% empty %}
            <h5 class="text-center my-5">Ainda não há postagens nesse projeto</h5>
            {% endfor %}
        {% else %}
        <div class="my-5 row">
            <div class="col-8">
                <h4>Postagens</h4>
                <h1 class="text-center"><i class="fa-solid fa-lock"></i></h1>
                <h5 class="text-center">Torne-se membro para<br>visualizar e postar</h5>
            </div>
            <div class="col-4 text-left">
                <a href="{% url 'projects:members_list' project.composite_pk %}"><h4 class="mb-3"><i class="fa-solid fa-users"></i> Membros</h4></a>
                <div class="row justify-content-center">
                    <div class="col-2">
                        <img class="post-img" src="{{ project.owner.profile_picture.url }}" alt="Foto de perfil">
                    </div>
                    <div class="col-10">
                        <h5 class="m-0">
                            {{project.owner.first_name}} {{project.owner.last_name}}
                        </h5>
                        <p class="m-0">Dono</p>
                    </div>
                </div>
                {% for member in members %}
                <hr>
                <div class="row justify-content-center">
                    <div class="col-2">
                        <img class="post-img" src="{{ member.profile_picture.url }}" alt="Foto de perfil">
                    </div>
                    <div class="col-10">
                        <h5 class="m-0">
                            {{member.first_name}} {{member.last_name}}
                        </h5>
                        <p class="m-0">
                            {% if member in mods %}
                                Moderador
                            {% else %}
                                Membro
                            {% endif %}
                        </p>
                    </div>
                </div>      
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>

</div>
  
  <div class="modal fade" id="confirmLeaveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tem certeza que seja sair do Projeto?</h5>
        </div>
        <div class="modal-body">
          Você não poderá mais visualizar ou interagir com as postagens do Projeto.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button id="modalButtonLeave" type="button" class="btn btn-danger">Sair</button>
        </div>
      </div>
    </div>
  </div>
  
{% endblock content %}
