{% extends 'global/base.html' %}

{% block title %}Projetos{% endblock title %}

{% block content %}
<div class="container">
    <h2 class="mt-5">Todos os Projetos</h2>
    <div class="row justify-content-between my-1">
    {% for project in projects %}
        <div class="my-3 profile-project-box">
            <a href="{% url 'projects:project_detail' project.composite_pk %}">
                <img class="profile-project-cover" src="{{ project.cover_photo.url }}" alt="Capa do Projeto">
                <h3 class="mt-3">Projeto - {{project.name}}</h3>
            </a>
        </div>
    {% endfor %}
    </div>

</div>

{% endblock content %}