{% extends 'global/base.html' %}
{% load static %}
{% block title %}Projeto{% endblock title %}

{% block content %}
<div class="container">
        <div class="my-2">
            <h1 class="mt-5 mb-1 text-center">Projeto</h1>
            <h3 class="mb-2 text-center">Preencha com as informações do seu Projeto</h3>
            <div class="row">
                {% if project_pk %}
                    <div class="col-3">
                        <form></form>
                        <form method="post" action="{% url 'projects:save_categories' project_pk %}" enctype="multipart/form-data">
                            <label class="d-block form-label text-center">Categorias do Projeto</label>
                            <div class="category-box category-box-edit">
                                {% csrf_token %}
                                {{ form_categories }}
                            </div>
                            <div class="form-group-submit text-center my-4">
                                <button class="btn btn-info" type="submit">Salvar Categorias</button>
                            </div>
                        </form>
                    </div>
                {% endif %}
                <div class="col">
                    {% if project_pk %}
                    <h5>Informações Gerais</h5>
                    {% endif %}
                    <form></form>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="my-3">
                                {% if field.label == 'Imagem de capa *' %}
                                <div class="max-width-cover text-center">
                                    <label class="form-label" for="{{ field.id_for_label }}">{{field.label}}</label>
                                    <div class="imageContainer">
                                        <img class="imgPhoto-cover" {% if project_pk %}src="{{ project_img.url }}"{% else %}src="{% static 'global/img/bg-default.jpg' %}"{% endif %} alt="Selecione uma imagem" id="imgPhoto">
                                    </div>
                                </div>
                                <input class="d-none" type="file" name="{{ form.cover_photo.name }}" id="{{ form.cover_photo.id_for_label }}" {% if project_pk %}value="{{ project_img.url }}"{% endif %}/>
                                {% else %}
                                    <label class="form-label" for="{{ field.id_for_label }}">{{field.label}}</label>
                                    {{field}}
                                {% endif %}
                                <div class="error-list">
                                    {{field.errors}}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="form-group-submit mt-5 mb-5 text-center">
                            <button class="btn btn-info" type="submit">{% if project_pk %}Salvar Informações{% else %}Próximo{% endif %}</button>
                        </div>
                    </form>
                    <hr>
                    {% if project_pk %}
                    <h5 class="mt-3">Desativação e Exclusão do Projeto</h5>
                    <div class="mt-4 mb-5">
                        <div class="d-flex justify-content-between align-items-center my-4">
                            <div>
                                <p class="my-0">Ativar/Desativar projeto </p>
                                <span class="form-text m-b-none">Ative para publicar seu projeto. Desative caso queira deixar o projeto inacessível.</span>
                            </div>
                            <input {% if project_active %}checked{% endif %} onchange="switchActive()" id="input-switch" type="checkbox" data-toggle="switchbutton" data-onlabel="Ativo" data-offlabel="Desativado" data-onstyle="success" data-offstyle="danger">
                        </div>
                        <div class="d-flex justify-content-between align-items-center my-4">
                            <div>
                                <p class="my-0">Exclusão do projeto</p>
                                <span class="form-text m-b-none">Exclua definitivamente esse projeto e todas as informações presentes nele.</span>
                            </div>
                            <form id="formDeleteProject" action="{% url 'projects:project_delete' %}" method='POST'>
                                {% csrf_token %}
                                <input type="hidden" name="project_composite_pk" value="{{project_pk}}">
                                <button id="btnConfirmDeleteProject" type="submit" class="btn btn-danger">Excluir Projeto</button>
                            <form>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
</div>

<div class="modal fade" id="confirmDeleteProjectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tem certeza que deseja excluir o Projeto?</h5>
        </div>
        <div class="modal-body">
          Todas as informações relacionadas ao projeto serão excluídas. Essa ação é definitiva.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button id="modalButtonDeleteProject" type="button" class="btn btn-danger">Excluir</button>
        </div>
      </div>
    </div>
</div>

<script>
    function switchActive() {
        window.location.href = "{% url 'projects:deactivate' project_pk %}";
    }
</script>
{% endblock content %}
