{% extends 'global/base.html' %}

{% block title %}Solicitações{% endblock title %}

{% block content %}
<div class="container">
    <div class="my-3 back-project">
        <a href="{% url 'projects:project_detail' project.composite_pk %}"><i class="fa-regular fa-circle-left"></i> Voltar ao Projeto</a>
    </div>
    <div>
        <h4 class="mb-5 mt-4">Solicitações</h4>
        {% for user in solicitation %}
        <hr>
        <div class="row justify-content-center">
            <div class="col-1">
                <img class="post-img img-member" src="{{ user.profile_picture.url }}" alt="Foto de perfil">
            </div>
            <div class="col-7 d-flex flex-column justify-content-center">
                <h5 class="m-0">
                    {{user.first_name}} {{user.last_name}}
                </h5>
            </div>
            <div class="col-4 row justify-content-around align-items-center">
                <form></form>
                <form class="col-5" action="{% url 'projects:solicitation_accept' %}" method='POST'>
                    {% csrf_token %}
                    <input type="hidden" name="project_composite_pk" value="{{project.composite_pk}}">
                    <input type="hidden" name="user" value="{{user.cpf}}">
                    <button type="submit" class="btn btn-success">Aceitar</button>
                <form> 
                    <form></form>
                <form class="col-5" action="{% url 'projects:solicitation_reject' %}" method='POST'>
                    {% csrf_token %}
                    <input type="hidden" name="project_composite_pk" value="{{project.composite_pk}}">
                    <input type="hidden" name="user" value="{{user.cpf}}">
                    <button type="submit" class="btn btn-danger">Recusar</button>
                <form> 
            </div>
        </div>   
        {% empty %} 
        <h5 class="my-5 text-center">Não há solicitações de novos membros no momento</h5>  
        {% endfor %}
    </div>

</div>

{% endblock content %}
