<ul class="d-flex horizontal-list justify-content-center my-4 align-items-center">
    <li class="col-2 text-center">
        <a class="nav-link {% if profile_tab %}active{% endif %}" href="{% url 'accounts:profile' %}">Perfil</a>
    </li> 
    <li class="col-2 text-center">
        <a class="nav-link {% if project_tab %}active{% endif %}" href="{% url 'accounts:my_projects' %}">Meus Projetos</a>
    </li>
    <li class="col-2 text-center">
        <a class="nav-link {% if evaluation_tab %}active{% endif %}" href="#">Avaliações</a>
    </li>  
</ul>