{% extends 'global/base.html' %}
{% load static %}
{% block title %}Editar Perfil{% endblock title %}

{% block content %}
<div class="container">
    {% include 'accounts/partials/nav-profile.html' %}
        <div class="my-3">
            <a href="{{return_page}}" class="btn-back"><i class="fa-solid fa-chevron-left"></i> Voltar</a>
        </div>
        <div class="row my-2 profile-detail">
            <div class="col-7">
                <form></form>
                <form action="{% url 'accounts:profile_edit' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="my-3">
                            {% if field.label == 'Foto de Perfil' %}
                            <div class="max-width-profile text-center">
                                <div class="imageContainer">
                                    <img class="imgPhoto-profile" src="{{user.profile_picture.url}}" alt="Selecione uma imagem" id="imgPhoto">
                                </div>
                            </div>
                            <input class="d-none" type="file" name="{{ form.profile_picture.name }}" id="{{ form.profile_picture.id_for_label }}" value="{{ user.profile_picture.url }}"/>
                            {% else %}
                                <label class="form-label" for="{{ field.id_for_label }}">{{field.label}}</label>
                                {{field}}
                            {% endif %}
                            <div class="error-list">
                                {{field.errors}}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="form-group-submit text-center my-4" style="width: 80%">
                        <button class="btn btn-primary" type="submit">Salvar</button>
                    </div>
                </form>
            </div>
            <div class="col-4">
                <form method="post" action="{% url 'accounts:save_categories' %}" enctype="multipart/form-data">
                    <label class="d-block form-label text-center">Categorias</label>
                    <div class="category-box category-box-edit">
                        {% csrf_token %}
                        {{ form_categories }}
                    </div>
                    <div class="form-group-submit text-center my-4">
                        <button class="btn btn-primary" type="submit">Salvar preferências</button>
                    </div>
                </form>
            </div>
            <div class="my-5 text-center">
                <button data-bs-toggle="modal" data-bs-target="#confirmDeleteAccountModal" class="btn btn-danger">Excluir Conta</button>
            </div>
        </div>

</div>

<div class="modal fade" id="confirmDeleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirme a Exclusão</h5>
            </div>
            <div class="modal-body">
                <p>Isso excluirá todos os dados da sua conta e todos os projetos que você criou. Essa ação é irreversível.</p>
                <form action="{% url 'accounts:profile_delete' %}" method="post" >
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="password">Para confirmar a exclusão digite sua senha:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="text-center my-3">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
