{% extends 'global/base.html' %}
{% block title %}Perfil - Avaliações{% endblock title %}

{% block content %}
<div class="container">
    {% include 'accounts/partials/nav-profile.html' %}
    <div class="my-5">
        {% for review in reviews %}
        <div class="review-box row my-5" data-aos="fade-up" data-aos-duration="800">
            <div class="col-2 text-center">
                <a {% if not profile == review.author_user %}href="{% url 'accounts:view_profile' review.author_user.cpf %}?next={{ request.path }}"{% endif %} >
                    <img class="review-profile-img" src="{{ review.author_user.profile_picture.url }}" alt="Imagem de Autor">
                    <p class="mt-2">{{review.author_user.first_name}} {{review.author_user.last_name}}</p>
                </a>
            </div>
            <div class="col-9">
                <div class="d-flex justify-content-between mb-2">
                    <div class="review-project-name">
                        Projeto - {{review.project}}
                    </div>
                    <div class="review-project-name">
                        {% if review.review_value == 1 %}
                            <i class="fa-solid fa-star star-yellow"></i>
                            <i class="fa-solid fa-star star-gray"></i>
                            <i class="fa-solid fa-star star-gray"></i>
                            <i class="fa-solid fa-star star-gray"></i>
                            <i class="fa-solid fa-star star-gray"></i>
                        {% elif review.review_value == 2 %}
                            <i class="fa-solid fa-star star-yellow"></i>
                            <i class="fa-solid fa-star star-yellow"></i>
                            <i class="fa-solid fa-star star-gray"></i>
                            <i class="fa-solid fa-star star-gray"></i>
                            <i class="fa-solid fa-star star-gray"></i>
                        {% elif review.review_value == 3 %}
                            <i class="fa-solid fa-star star-yellow"></i>
                            <i class="fa-solid fa-star star-yellow"></i>
                            <i class="fa-solid fa-star star-yellow"></i>
                            <i class="fa-solid fa-star star-gray"></i>
                            <i class="fa-solid fa-star star-gray"></i>
                        {% elif review.review_value == 4 %}
                            <i class="fa-solid fa-star star-yellow"></i>
                            <i class="fa-solid fa-star star-yellow"></i>
                            <i class="fa-solid fa-star star-yellow"></i>
                            <i class="fa-solid fa-star star-yellow"></i>
                            <i class="fa-solid fa-star star-gray"></i>
                        {% elif review.review_value == 5 %}
                            <i class="fa-solid fa-star star-yellow"></i>
                            <i class="fa-solid fa-star star-yellow"></i>
                            <i class="fa-solid fa-star star-yellow"></i>
                            <i class="fa-solid fa-star star-yellow"></i>
                            <i class="fa-solid fa-star star-yellow"></i>
                        {% endif %}                        
                    </div>
                </div>
                <div class="review-body">
                    <p>{{review.review_body}}</p>
                </div>
            </div>
        </div>
        {% empty %}
        <h4 class="text-center mt-5">
            Você ainda não possui avaliações
        </h4>
        {% endfor %}
    </div>

</div>
{% endblock content %}