{% extends 'global/base.html' %}

{% block title %}Avaliação{% endblock title %}

{% block content %}
<div class="container">
        <div class="my-2">
            <h1 class="my-3">Avaliação de (nome pessoa avaliada) no Projeto - (nome do projeto)</h1>
            <form></form>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <div class="my-3">
                        <label class="form-label" for="{{ field.id_for_label }}">{{field.label}}</label>
                        {{field}}
                        <div class="error-list">
                            {{field.errors}}
                        </div>
                    </div>
                {% endfor %}
                <div class="form-group-submit my-5">
                    <button class="btn btn-info" type="submit">Avaliar</button>
                </div>
            </form>
            <div class="d-flex justify-content-end">
            </div>
        </div>

</div>

{% endblock content %}
