{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between w-100">
            <a class="navbar-brand" href="{% url 'projects:projects' %}"><img src="{% static 'global/img/logo.png' %}" alt="Abrace" class="logo"> Abrace</a>
            <ul class="navbar-nav nav-header">
                <li class="nav-item">
                    <a class="nav-link {% if projects_page %}active{% endif %}" href="{% url 'projects:projects' %}">Projetos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if profile_page %}active{% endif %}" href="{% url 'accounts:profile' %}">Perfil</a>
                </li>   
            </ul>
            
            <div>
                <form  action="{% url 'accounts:logout' %}" method='POST'>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Sair <i class="fa-solid fa-power-off"></i></button>
                <form>
            </div>
        </div>
    </div>
  </nav>