@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

nav {
    background-color: #7CBFD8;
    font-weight: 600;
}

.btn {
    font-weight: 600;
    border-radius: 25px;
    padding: 5px 25px;
}