@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.toast-success {
    background-color: #4CAF50;
    color: #fff;
}

.toast-error {
    background-color: #FF5733;
    color: #fff;
}

.logo {
    max-width: 50px;
}

nav {
    background-color: #7CBFD8;
    font-weight: 600;
}

.btn {
    font-weight: 500;
    border-radius: 25px;
    padding: 5px 40px;
}

.btn-info {
    background-color: #7CBFD8;
    border: none;
}

.btn-info:hover {
    background-color: #86cee9;
}

.horizontal-list {
    list-style: none;
}
.horizontal-list a:hover {
    font-weight: bold;
}

.active {
    font-weight: bold;
}

.profile-detail .form-label {
    font-weight: 600;
    padding-left: 10px;
}

.profile-detail .form-control {
    background-color: #ECECEC;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    width: 80%;
}

.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 110px;
}

.category-box {
    background-color: #ECECEC;
    padding: 25px;
    border-radius: 15px;
    max-height: 300px;
    overflow-y: scroll;
}

.category-profile {
    font-size: 18px;
    margin-bottom: 10px;
}

 .category-profile i {
    margin-right: 5px;
 }

 #id_categories>div {
    margin-bottom: 10px;
 }

 .category-box-edit {
    max-height: fit-content;
    overflow-y: hidden;
 }

 .profile-project-box {
    background-color: #d6d7d8;
    padding: 25px;
    border-radius: 15px;
    width: 32%;
 }

 .profile-project-cover {
    max-width: 100%;
    border-radius: 15px;
 }

 .profile-project-box h3 {
    font-size: 18px;
 }

 .profile-project-box p {
    margin-bottom: 0;
    font-weight: 500;
 }

 i.owner {
    color: rgb(173, 25, 25);
 }

 i.member {
    color: rgb(40, 122, 65);
 }

 .project-detail-img {
    border-radius: 50%;
    width: 250px;
    height: 200px;
 }

 .project-box {
    background-color: #eaeaeb;
    padding: 25px;
    margin: 20px;
    border-radius: 15px;
 }

.project-detail-description {
    font-size: 17px;
}

.post-img {
    border-radius: 50%;
    width: 55px;
    height: 50px;
    margin-right: 20px;
}

.footer-post {
    text-align: right;
}

.footer-post a {
    color: inherit;
    font-weight: 600;
    text-decoration: none;
}

.footer-post a:hover {
    font-weight: 700;
}

.post-created {
    text-align: right;
    color: rgb(99, 99, 99);
    font-size: 15px;
}

.rounded-btn {
    border-radius: 50%;
    padding: 5px 10px;
}

textarea.form-control {
    max-height: 100px;
}

.back-project a {
    color: inherit;
    font-weight: 600;
    text-decoration: none;
}

.back-project a:hover {
    font-weight: 700;
}

.comment-form textarea.form-control {
    max-height: 40px;
    border-radius: 20px;
}

.comment-form .post-img {
    width: 43px;
    height: 38px;
}

.comment-box .post-img {
    width: 44px;
    height: 42px;
}

.comment-box h5 {
    font-size: 17px;
}

.comment-box p {
    font-size: 15px;
}