@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
:root {
    --primary-color: #a4cde0;
    --secondary-color: #738ce6;
    --other-blue:  #7ec5e6;
    --color-red: #ef6666;
    --color-green: rgb(41, 139, 79);
    --light-gray: #eaeaeb;

}


.navbar-brand {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 700;
}

.navbar-brand:hover {
    color: white;
}

.btn-primary {
    background-color: var(--secondary-color);
    border: 1x solid var(--secondary-color);
    font-weight: 500;
}

.btn-primary:hover, .btn-primary:active {
    background-color: #5676e7;
}

.btn-danger {
    background-color: var(--color-red);
    border: 1x solid var(--color-red);
    font-weight: 500;
}

.btn-danger:hover {
    background-color: #ee5555;
}

.btn-success {
    background-color: var(--color-green);
    border: 1x solid var(--color-green);
    font-weight: 500;
}

.btn-outline-primary {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

.btn-outline-primary:hover {
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.btn-outline-danger {
    border: 1px solid var(--color-red);
    color: var(--color-red);
}

.btn-outline-danger:hover {
    background-color: var(--color-red);
    border: 1px solid var(--color-red);
}

* {
    font-family: 'Montserrat', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    position: relative;
    min-height: 100vh;
}

a:hover {
    color: inherit;
}

/* Estilos para a lista de erros */
ul.errorlist {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #FF5733; /* Cor para os erros de formulário */
}

/* Estilos para cada item da lista de erros */
ul.errorlist li {
    font-size: 14px;
    margin-bottom: 5px;
}

/* Estilos para os campos de entrada com erros */
.form-control.has-error {
    border-color: #FF5733; /* Cor da borda para campos com erros */
}

.toast-success {
    background-color: var(--color-green);
    color: #fff;
}

.toast-error {
    background-color: var(--color-red);
    color: #fff;
}

.logo {
    max-width: 50px;
}

nav {
    background: linear-gradient(to right, var(--primary-color), var(--other-blue));
    font-weight: 500;
}

.nav-header .nav-item .nav-link {
    color: white;
}

.nav-header .nav-item .nav-link:hover {
    font-weight: 700;
}

.btn {
    font-weight: 500;
    border-radius: 25px;
    padding: 7px 40px;
}

.horizontal-list {
    list-style: none;
}
.horizontal-list a:hover {
    font-weight: bold;
}

.active {
    font-weight: bold;
}

.profile-detail .form-label {
    font-weight: 600;
    padding-left: 10px;
}

.profile-detail .form-control {
    background-color: var(--light-gray);
    border: none;
    border-radius: 20px;
    font-size: 18px;
    width: 80%;
}

.category-profile i.fa-square-check {
    color: var(--secondary-color);
}

.profile-img {
    border-radius: 50%;
    width: 200px;
    height: 170px;
}

.category-box {
    background-color: var(--light-gray);
    padding: 25px;
    border-radius: 15px;
    max-height: 300px;
    overflow-y: scroll;
}

.category-profile {
    font-size: 18px;
    margin-bottom: 10px;
}

 .category-profile i {
    margin-right: 5px;
 }

 #id_categories>div {
    margin-bottom: 10px;
 }

 .category-box-edit {
    max-height: fit-content;
    overflow-y: hidden;
 }

 .profile-project-box {
    background-color: var(--light-gray);
    padding: 25px;
    border-radius: 15px;
    width: 32%;
 }

 .view-profile-project-box {
    background-color: var(--light-gray);
    width: 47%;
 }


 .profile-project-cover {
    max-width: 100%;
    border-radius: 15px;
 }

 .profile-project-box h3 {
    font-size: 18px;
 }

 .view-profile-project-box h3 {
    font-size: 15px;
}

 .profile-project-box p {
    margin-bottom: 0;
    font-weight: 500;
 }

 i.owner {
    color: rgb(173, 25, 25);
 }

 i.member {
    color: var(--color-green);
 }

 i.mod {
    color: var(--secondary-color);
 }

 .project-detail-img {
    border-radius: 50%;
    width: 250px;
    height: 200px;
 }

 .project-box {
    background: linear-gradient(to top, #f2f3fa, #dde3fc);
    padding: 25px;
    margin: 20px;
    border-radius: 15px;
 }

.project-detail-description {
    font-size: 17px;
}

.post-img {
    border-radius: 50%;
    width: 55px;
    height: 50px;
    margin-right: 20px;
}

.footer-post {
    text-align: right;
}

.footer-post a {
    color: inherit;
    font-weight: 600;
    text-decoration: none;
}

.footer-post a:hover {
    font-weight: 700;
}

.post-created {
    text-align: right;
    color: rgb(99, 99, 99);
    font-size: 15px;
}

.rounded-btn {
    border-radius: 50%;
    padding: 5px 10px;
}


.back-project a {
    color: inherit;
    font-weight: 600;
    text-decoration: none;
}

.back-project a:hover {
    font-weight: 700;
}

.comment-form textarea.form-control {
    max-height: 40px;
    min-height: 40px;
    border-radius: 20px;
}

.post-form textarea.form-control {
    max-height: 100px;
    min-height: 100px;
}

.comment-form .post-img {
    width: 43px;
    height: 38px;
}

.comment-box .post-img {
    width: 44px;
    height: 42px;
}

.comment-box h5 {
    font-size: 17px;
}

.comment-box p {
    font-size: 15px;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.img-member {
    width: 75px;
    height: 72px;
}

.dropstart .dropdown-toggle::before {
    display: none;
}

.btn-link {
    padding: 0 10px;
    border-radius: 0;
    margin: 0;
    width: 100%;
    color: inherit;
    text-decoration: none;
}

.dropstart .btn-link:active, .dropstart a:active {
    color: inherit;
    background-color: inherit;
  }

.category-list {
    list-style: none;
    padding-left: 0;
}

.category-item {
    font-size: 18px;
    margin: 15px 0px;
}

.category-item  a:hover{
    color: var(--secondary-color);
}

.category-item  a.active{
    color: var(--secondary-color);
    font-weight: 500;
}

.small-text {
    display: block;
    margin-top: auto;
    font-size: 12px;
}

.tags {
    font-size: 15px;
}

.view-profile-project-box .tags {
    font-size: 13px;
}

.review-project-name span {
    font-weight: 500;
}

.review-profile-img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.review-body {
    background-color: var(--light-gray);
    border-radius: 15px;
    padding: 10px;
}

.review-body p {
    margin-bottom: 0;
}

.review-project-name {
    font-size: 17px;
    font-weight: 500;
}

.review-profile-name {
    font-size: 15px;
}

.review-project-profile-name {
    font-size: 15px;
    font-weight: 400;
}

.review-profile-body {
    font-size: 15px;
}

.star-gray {
    color: #d6d7d8;
}


.text-red {
    color:rgb(124, 19, 19);
}

.star-rating {
    font-size: 22px;
}

.star-rating i {
    color: #d6d7d8;
}

.star-rating i:hover, .star-rating i:hover ~ i {
    color:rgb(240, 197, 7);
}

.star-yellow {
    color:rgb(240, 197, 7) !important;
}

.max-width-profile {
    margin: 0px auto;;
    max-width: 150px;
    width: 100%;
}

.imgPhoto-profile {
    margin-top: 10%;
    width: 150px;
    height: 150px;
    background-color: #eee;
    border-radius: 50%;
    cursor: pointer;
    transition: background .3s;
}

.imgPhoto-profile:hover{
    background-color: rgb(180, 180, 180);
    border: 4px solid #b3b5b8;
}

.max-width-cover {
    margin: 0px auto;;
    max-width: 600px;
    width: 100%;
}

textarea.form-control {
    min-height: 200px;
}

.imgPhoto-cover {
    width: 600px;
    height: 340px;
    background-color: #eee;
    border-radius: 10px;
    cursor: pointer;
    transition: background .3s;
}

.imgPhoto-cover:hover{
    background-color: rgb(180, 180, 180);
    border: 4px solid #b3b5b8;
}

.tag-bg {
    margin-right: 5px;
    margin-left: 0;
    font-size: 14px;
    white-space: nowrap;
    padding: 0;
}

.tag-bg p {
    background-color: #dbe9f8;
    border-radius: 5px;
    padding: 2px 8px;
}

.btn-back {
    font-size: 18px;
    display: inline-block;
}

.btn-back:hover {
    transform: scale(1.1);
}

.fa-ellipsis-vertical {
    display: inline-block;
    padding: 10px 20px;
}

.fa-ellipsis-vertical:hover {
    transform: scale(1.1);
}
.scale-hover {
    display: inline-block;
}

.scale-hover:hover {
    transform: scale(1.1);
}

.tag-project-detail {
    
    padding-right: 20px;
    white-space: nowrap;
}

.choices__list--multiple .choices__item {
    border-radius: 15px;
    padding: 2px 15px;
    font-size: 14px;
    font-weight: 500;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: #fff;
}

.switch {
    width: 200px !important; 
}

.switch-off.btn, .switch-on.btn {
    padding: 8px 0;
}


/* Estilos para o campo de busca */
.search-container {
    position: relative;
    width: 300px;
    margin: 20px 0 0 auto;
}

.text-blue {
    color: var(--primary-color);
    font-weight: 600;
}

.role-box {
    background-color: var(--primary-color);
    padding: 5px 20px;
    display: inline-block;
    border-radius: 5px;
}

.role-box p {
    margin-bottom: 0;
}

.search-input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.link-footer:hover {
    color: var(--secondary-color);
    font-weight: 500;
}